<div id="nuget">
	@(Html.Partial("_AdPartial"))
	<div class="panel panel-default pan">
		<div class="panel-heading"><h1 class="zero lowercase"><i class="fa fa-book mrm"></i>Documentation</h1></div>
		<div class="panel-body">
			
			<h2><a href="@Url.Action("",new { controller = "Documentation", id = "Camalot.Common" })">Camalot.Common</a><small class="text-muted mll">A useful set of extensions and objects for windows or web</small></h2>

			<h2><a href="@Url.Action("",new { controller = "Documentation", id = "Camalot.Common.Mvc" })">Camalot.Common.Mvc</a><small class="text-muted mll">A useful set of extensions and objects for asp.net mvc</small></h2>
			
		</div>
	</div>
</div>
