@model Camalot.Common.Site.Models.Documentation.NamespaceModel

@{
	ViewBag.Title = Model.Name;
}

@section featured {
	<div id="home"></div>
	<section class="featured jumbotron jumbotron-info mbl">
		<div class="container">
			<div class="title">
				<i class="logo pull-left"></i>
				<h1>@ViewBag.Title.</h1>
				<h2 class="muted">Version @Model.AssemblyVersion</h2>
			</div>
		</div>
	</section>
}

@foreach(var ns in Model.Namespaces) {
	if(!ns.Ignore) {
		@(Html.Partial("_AdPartial"))
			@Html.DisplayFor(d => ns)
	}
}