<div id="nuget">
	@(Html.Action("Adsense", new { controller = "assets", area = "" }))
	<div class="panel panel-success pan">
		<div class="panel-heading"><h1 class="zero lowercase"><i class="fa fa-download mrm"></i>Nuget</h1></div>
		<div class="panel-body">
			<div class="nuget-badge mtl">
				<code class="">PM&gt; <span data-id="Camalot.Common">Install-Package Camalot.Common</span></code>
				<div class="pull-right mtn4 mrs">
					<a title="copy" href="#" data-copy="click" data-copy-target="[data-id='Camalot.Common']" class="btn btn-round btn-info z-depth-1 mtml mrs"><i class="fa fa-copy"></i></a>
					<a title="Visit nuget.org" href="https://nuget.org/packages/camalot.common/" target="_blank" class="btn btn-round btn-success z-depth-1 mtml"><i class="fa fa-external-link"></i></a>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="nuget-badge mtl">
				<code class="">PM&gt; <span data-id="Camalot.Common.Mvc5">Install-Package Camalot.Common.Mvc5</span></code>
				<div class="pull-right mtn4 mrs">
					<a title="copy" href="#" data-copy="click" data-copy-target="[data-id='Camalot.Common.Mvc5']" class="btn btn-round btn-info z-depth-1 mtml mrs"><i class="fa fa-copy"></i></a>
					<a title="Visit nuget.org" href="https://nuget.org/packages/Camalot.Common.Mvc5/" target="_blank" class="btn btn-round btn-success z-depth-1 mtml"><i class="fa fa-external-link"></i></a>
				</div>
			</div>
			<div class="nuget-badge mtl">
				<code class="">PM&gt; <span data-id="Camalot.Common.Mvc4">Install-Package Camalot.Common.Mvc4</span></code>
				<div class="pull-right mtn4 mrs">
					<a title="copy" href="#" data-copy="click" data-copy-target="[data-id='Camalot.Common.Mvc4']" class="btn btn-round btn-info z-depth-1 mtml mrs"><i class="fa fa-copy"></i></a>
					<a title="Visit nuget.org" href="https://nuget.org/packages/Camalot.Common.Mvc4/" target="_blank" class="btn btn-round btn-success z-depth-1 mtml"><i class="fa fa-external-link"></i></a>
				</div>
			</div>
			<div class="nuget-badge mtl">
				<code class="">PM&gt; <span data-id="Camalot.Common.Mvc">Install-Package Camalot.Common.Mvc</span></code>
				<div class="pull-right mtn4 mrs">
					<a title="copy" href="#" data-copy="click" data-copy-target="[data-id='Camalot.Common.Mvc']" class="btn btn-round btn-info z-depth-1 mtml mrs"><i class="fa fa-copy"></i></a>
					<a title="Visit nuget.org" href="https://nuget.org/packages/Camalot.Common.Mvc/" target="_blank" class="btn btn-round btn-success z-depth-1 mtml"><i class="fa fa-external-link"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
