body {
}

.epm-content {
	background-color: #fff;
}

.epm-nav-host {
	position: fixed;
	top: 41px;
	width: 50px;
	z-index: 1035;
}

.left .epm-nav-host {
	left: 6px;
	-moz-transition: left linear 300ms;
	-o-transition: left linear 300ms;
	-webkit-transition: left linear 300ms;
	transition: left linear 300ms;
}

.right .epm-nav-host {
	right: -15px;
	-moz-transition: right linear 300ms;
	-o-transition: right linear 300ms;
	-webkit-transition: right linear 300ms;
	transition: right linear 300ms;
}

.left.expanded .epm-nav-host {
	left: 257px;
}

.expanded.right .epm-nav-host {
	right: 310px;
}

.epm-nav-toggle {
	display: block;
	margin-left: 5px;
	border: none;
	background-color: #222;
	border-bottom: solid 1px #000;
	border-radius: 0;
	cursor: pointer;
	padding: 10px;
}

.left .epm-nav-toggle {
	border-right: solid 1px #000;
}

.right .epm-nav-toggle {
	border-left: solid 1px #000;
}


.epm-nav-toggle .icon-bar {
	background-color: #666;
	display: block;
	width: 22px;
	height: 3px;
}

	.epm-nav-toggle .icon-bar + .icon-bar {
		margin-top: 4px;
	}

.epm-nav-toggle:hover .icon-bar {
	background-color: #999;
}

.epm-nav-toggle:hover, .epm-nav-toggle:active, .epm-nav-toggle:focus {
}



.epm-nav {
	z-index: 1035;
	border: none;
	background-color: #222;
	width: 325px;
	max-width: 325px;
	position: fixed;
	top: 49px;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

	.epm-nav li {
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}

	.epm-nav .nav-search {
		margin: 0 2px 0 0;
	}

		.epm-nav .nav-search button.clear {
			border: none;
			background-color: transparent;
			font-size: 1.2em;
			font-weight: bold;
			margin: 0 0 0 -20px;
			padding: 0;
			color: #ddd;
		}

		.epm-nav .nav-search input[type="search"] {
			border: solid 1px #333;
			background-color: #242424;
			width: 100%;
			color: #ddd;
			padding: 2px 15px 2px 4px;
			-moz-transition: none;
			-o-transition: none;
			-webkit-transition: none;
			transition: none;
			margin: 0;
		}



			.epm-nav .nav-search input[type="search"]::-webkit-input-placeholder,
			.epm-nav .nav-search input[type="search"]:-moz-placeholder,
			.epm-nav .nav-search input[type="search"]::-moz-placeholder,
			.epm-nav .nav-search input[type="search"]:-ms-input-placeholder {
				color: #0072e6;
			}

			.epm-nav .nav-search input[type="search"]:hover,
			.epm-nav .nav-search input[type="search"]:focus:valid,
			.epm-nav .nav-search input[type="search"]:focus:invalid,
			.epm-nav .nav-search input[type="search"]:focus {
				border-color: #0072e6;
				-webkit-box-shadow: none;
				box-shadow: none;
			}

	.epm-nav.left {
		left: -325px;
		border-right: solid 1px #000;
		-moz-transition: left linear 300ms;
		-o-transition: left linear 300ms;
		-webkit-transition: left linear 300ms;
		transition: left linear 300ms;
	}

	.epm-nav.right {
		right: -325px;
		border-left: solid 1px #000;
		-moz-transition: right linear 300ms;
		-o-transition: right linear 300ms;
		-webkit-transition: right linear 300ms;
		transition: right linear 300ms;
	}

	.epm-nav.expanded.left {
		left: 0;
	}

	.epm-nav.expanded.right {
		right: 0;
	}

	.epm-nav li.divider {
		height: 1px;
		line-height: 1px;
		font-size: 0;
		border-top: solid 1px #444;
		margin: 2px 0 2px 0;
	}

	.epm-nav li > a {
		padding: 5px;
		white-space: nowrap;
		color: #ddd;
	}


	.epm-nav.right li > a {
		border-left: 2px solid #222;
	}

	.epm-nav.left li > a {
		border-right: 2px solid #222;
	}



	.epm-nav li > a:focus,
	.epm-nav li > a:active,
	.epm-nav li > a:hover {
		background-color: #333;
		border-left-color: #333;
		border-right-color: #333;
		color: #fff;
	}

	.epm-nav.right li.active > a {
		border-left-color: #fff;
	}

.epm-nav-primary.epm-nav.right li.active > a {
	border-left-color: #0072e6;
}

.epm-nav-success.epm-nav.right li.active > a {
	border-left-color: #379f15;
}

.epm-nav-warning.epm-nav.right li.active > a {
	border-left-color: #fe6600;
}

.epm-nav-danger.epm-nav.right li.active > a {
	border-left-color: #e60033;
}

.epm-nav-info.epm-nav.right li.active > a {
	border-left-color: #8d46b0;
}

.epm-nav.left li.active > a {
	border-right-color: #fff;
}

.epm-nav-primary.epm-nav.left li.active > a {
	border-right-color: #0072e6;
}

.epm-nav-success.epm-nav.left li.active > a {
	border-right-color: #379f15;
}

.epm-nav-warning.epm-nav.left li.active > a {
	border-right-color: #fe6600;
}

.epm-nav-danger.epm-nav.left li.active > a {
	border-right-color: #e60033;
}

.epm-nav-info.epm-nav.left li.active > a {
	border-right-color: #8d46b0;
}
