
@string: #85fb82;
@text: #f3f3f3;
@comment: darken(@text,20);
@background: #282424;
@border: #303030;
@line-numbers: #2b91af;
@functions: #fdf8b9;
@keywords: #a2c4fd;
@attributes: darken(@keywords,5);

.gist-container {
	.gist-data-host {
		position: relative;
		> .button-controls {
			position: absolute; 
			right: 10px; 
			bottom: -15px;
		}
	}
	.gist {
		.gist-file {
			border-width: 1px;
			border-radius: 0;
		}

		.gist-meta {
			background: @background !important;
			text-shadow: none !important;

			a {
				color: @line-numbers !important;
			}

			a:nth-child(1) {
				display: none !important;
			}
		}

		.gist-data {
			.line-pre {
				color: @text !important;
			}
		}

		.gist-syntax {
			background: @background !important;
			color: @text !important;
			border-bottom-color: @border !important;

			.sx, .s, .s2 {
				color: @string;
			}

			.c, .c1 {
				color: @comment;
			}

			.n, .p, .o, .nx {
				color: @text;
			}

			.na {
				color: @attributes;
			}

			.kt, .k, .kd {
				color: @keywords;
			}

			.nn, .nc, .nf {
				color: @functions;
			}

			.nt {
				color: @keywords;
			}
		}

		.line-numbers {
			background: @background !important;
			color: @line-numbers !important;
			border-right-color: @border !important;
			border-right-width: 6px !important;
		}

		article.markdown-body {
			padding: 10px;
		}
	}
}
