<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="razzle" requirePermission="false" type="Razzle.Contracts.Configuration.Handlers.RazzleSectionHandler, Razzle.Contracts" />
		<sectionGroup name="camalot.common">
			<section name="bundles" requirePermission="false" type="Camalot.Common.Mvc.Configuration.Handlers.BundlesSectionHandler, Camalot.Common.Mvc" />
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<add key="site:Name" value="Camalot.Common" />
		<add key="site:Description" value="You may find these useful, or you may not." />
		<add key="site:Copyright" value="Ryan Conrad" />

	</appSettings>
	<razzle>
		<documentation>
			<path>~/app_data/</path>
			<assemblies>
				<assembly name="Camalot.Common" namespace="Camalot.Common" />
				<assembly name="Camalot.Common.Mvc" namespace="Camalot.Common.Mvc" />
			</assemblies>
			<ignores>
				<namespace>Razzle.Sample.Foo</namespace>
			</ignores>
		</documentation>
	</razzle>
	<system.web>
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5.1" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MoreLinq" publicKeyToken="384d532d7e88985d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.17511.0" newVersion="1.1.17511.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<camalot.common>
		<bundles>
			<ignores>
				<ignore pattern="*.map" when="Always" />
			</ignores>
			<scripts>
				<bundle name="~/js/jquery">
					<include path="~/assets/scripts/libs/jquery-{version}.js" />
				</bundle>
				<bundle name="~/js/modernizr">
					<include path="~/assets/scripts/libs/modernizr-*" />
				</bundle>
				<bundle name="~/js/bootstrap">
					<include path="~/assets/scripts/libs/bootstrap.js" />
					<include path="~/assets/scripts/libs/respond.js" />
					<include path="~/assets/scripts/libs/respond.matchmedia.addListener.js" />
				</bundle>
				<bundle name="~/js/system">
					<include path="~/assets/scripts/libs/jquery.scrollto.js" />
					<include path="~/assets/scripts/libs/toastr.js" />
					<include path="~/assets/scripts/system.*" />
				</bundle>
				<bundle name="~/js/mousetrap">
					<include path="~/assets/scripts/libs/mousetrap.js" />
				</bundle>
				<!--bundle name="~/bundles/knockout">
					<include path="~/assets/scripts/knockout-{version}.js"/>
				</bundle-->
			</scripts>
			<styles>
				<bundle name="~/css/site">
					<include path="~/assets/styles/toastr.css" />
					<include path="~/assets/styles/bootstrap.css" />
					<include path="~/assets/styles/razzle.css" />
					<include path="~/assets/styles/documentation.css" />
					<include path="~/assets/styles/spacing.css" />
					<include path="~/assets/styles/typography.css" />
					<include path="~/assets/styles/colors.css" />
					<include path="~/assets/styles/gist.css" />
					<include path="~/assets/styles/google.adsense.css" />
					<include path="~/assets/styles/font-awesome.css" />
					<include path="~/assets/styles/nuget.css" />
					<include path="~/assets/styles/bootstrap-overrides.css" />
					<include path="~/assets/styles/bootswatch-paper.css" />
					<include path="~/assets/styles/main.css" />
				</bundle>
			</styles>
		</bundles>
	</camalot.common>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="Documentation-Integrated-4.0" path="documentation/index/*" verb="GET,HEAD" type="System.Web.Handlers.TransferRequestHandler" preCondition="runtimeVersionv4.0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="Robots-ISAPI-Integrated-4.0" path="/robots.txt" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" resourceType="Unspecified" />
		</handlers>
		<modules runAllManagedModulesForAllRequests="true"></modules>
	</system.webServer>
</configuration>
