@*
	
	add "razzle-top-navbar-hidden" or "razzle-side-navbar-hidden" class to the <li> to prevent it from showing in one navigation or the other.

*@
<li><a href="@Url.Action("","")#home" data-scroll="click"><i class="mrs fa fa-home"></i><span>Home</span></a></li>
<li><a href="@Url.Action("","")#about" data-scroll="click" class="track"><i class="mrs fa fa-question-circle"></i><span>About</span></a></li>
<li><a href="@Url.Action("","")#nuget" data-scroll="click" class="track"><i class="mrs fa fa-download"></i><span>Nuget</span></a></li>

<li class="divider razzle-side-navbar-hidden"></li>
<li class="razzle-side-navbar-hidden"><a href="https://github.com/camalot/camalot.common/star" class="track" title="Stars"><i class="fa fa-star mrs"></i><span data-github="stargazers_count" class="badge"></span></a></li>
<li class="razzle-side-navbar-hidden"><a href="https://github.com/camalot/camalot.common/fork" class="track" title="Forks"><i class="fa fa-code-fork mrs"></i><span data-github="forks_count" class="badge"></span></a></li>
<li class="razzle-side-navbar-hidden"><a href="https://github.com/camalot/camalot.common/" class="track"><i class="mrs fa fa-github-square text-white"></i><span>Fork Me!</span></a></li>
<li class="divider"></li>

<li class="razzle-top-navbar-hidden hidden" data-scroll-show-low="265" data-scroll-toggle="hidden"><a href="https://github.com/camalot/camalot.common" target="_blank"><i class="fa fa-github-square mrs" title="Source"></i><span class="">Source</span></a></li>
<li class="razzle-top-navbar-hidden hidden" data-scroll-show-low="265" data-scroll-toggle="hidden"><a href="https://github.com/camalot/camalot.common/fork" target="_blank"><i class="fa fa-code-fork mrs" title="Fork"></i><span class="">Fork</span></a></li>
<li class="razzle-top-navbar-hidden hidden" data-scroll-show-low="265" data-scroll-toggle="hidden"><a href="https://github.com/camalot/camalot.common/issues" target="_blank"><i class="fa fa-bug mrs" title="Issues"></i><span class="">Issues</span></a></li>
<li class="razzle-top-navbar-hidden divider hidden" data-scroll-show-low="265" data-scroll-toggle="hidden"></li>

<li><a href="@Url.Action("","")#license" data-scroll="click" class="track"><i class="mrs fa fa-certificate text-white"></i><span>License</span></a></li>

<li class="divider razzle-side-navbar-hidden"></li>
<li class="dropdown razzle-side-navbar-hidden">
	<a href="#" data-toggle="dropdown"><i class="mrs fa fa-bookmark text-white"></i><span class="mrs">Other Projects</span><b class="caret caret-white"></b></a>
	<ul class="dropdown-menu">
		<li><a href="http://endpointmvc.bit13.com/"><i class="mrs icon-endpointmvc"></i><span>EndpointMvc</span></a></li>
		<li><a href="http://madb.bit13.com/"><i class="mrs icon-madbee"></i><span>MadBee</span></a></li>
		<li><a href="http://razzle.bit13.com/"><i class="mrs icon-razzle"></i><span>Razzle</span></a></li>
	</ul>
</li>